.menu-item {
    color: black;
    border: none;
    outline: none;
    font-size: 25px;
    background: $white-color;
    cursor: pointer;
    margin-right: 2.5rem;
    font-family: "BalsamiqSans Regular", sans-serif;
    margin-right: 6%;

    @include media-large {
      font-size: 22px;
    }

    @include media-medium {
      font-size: 20px;
      margin-bottom: 6px;
      margin-right: 2%;
    }

    @include media-small {
      display: block;
      margin: 0 0 10px 20px;
    }

    &-active {
        text-decoration: underline;
    }

    &-lock {
        pointer-events: none;
        cursor: auto;
        opacity: 0.5;
    }
}
