.menu-item {
    color: black;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    &-active {
        text-decoration: underline;
    }

    &-lock {
        pointer-events: none;
        cursor: auto;
        opacity: 0.5;
    }
}

.menu-item-active {
    color: black;
    border: none;
    outline: none;
    font-size: 33px;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
}
