.profile-menu__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  background-color: $white-color;
  @include  media-small {
    display: block;
  }
}


.profile-menu__button {
  height: 55px;
  display: inline-block;
  font-family: "BalsamiqSans Regular", sans-serif;
  font-size: 20px;
  color: $light-grey-color;
  background-color: $white-color;
  border: 1px solid $light-grey-color;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  transition: .2s all ease-in;

  @include media-medium {
    height: 45px;
  }

  @include media-small {
    display: block;
    height: auto;
    margin: 0 0 10px 20px;
    color: $black-color;
    border: none;
    outline: none;
    background: $white-color;

  }

  &:hover{
    color: $dark-blue-color;
  }
}
