.profile-menu__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  background-color: $white-color;

  @include  media-small {
    display: block;
  }
}


.profile-menu__button {
  position: relative;
  height: 55px;
  display: inline-block;
  background-color: $white-color;
  border: 1px solid $light-grey-color;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  transition: .2s all ease-in;

  @include media-medium {
    height: 45px;
  }

  img {
    width: 30px;
    position: absolute;
    left: 5%;
    top: 16%;

    @include media-medium {
      width: 25px;
    }

    @include media-small {
      position: static;
      margin-right: 8px;
    }
  }

  span {
    font-size: 20px;
    font-family: "BalsamiqSans Regular", sans-serif;
    color: $light-grey-color;
    line-height: 45px;
    margin-left: 30px;

    @include media-medium {
      font-size: 15px;
    }

    @include media-small {
      font-size: 20px;
      color: $black-color;
      margin: 0;
    }
  }



  @include media-small {
    display: block;
    height: 35px;
    margin: 0 0 7px 20px;
    border: none;
    outline: none;
    background: $white-color;
  }

  &:hover{
    color: $dark-blue-color;
  }
}
