.nav__burger__button {
  display: none;
  background-color: $white-color;
  z-index: 30;
  border: 0;
  position: absolute;
  left: 20px;
  cursor: pointer;
  transition: transform .3s linear;
  @include media-small {
    display: block;
  }
}

.burgerButton {
  width: 30px;
}

.rotated {
  transform: rotate(90deg);
}
