.wrapper {
  margin: 0 auto;
}

.microphone {
  margin: 0.1em auto;
  font-size: 5em;
  border: 1px solid black;
  border-radius: 50%;
  background: none;
  outline: none;
}

.correct {
  border: 2px solid green;
}

.incorrect {
  border: 2px solid red;
}
