.card-wrapper{
  form {
    font-size: 25px;
    padding-top: 24px;
    border-top: 1px solid $brown-color;
    font-weight: normal;

    @include media-medium {
      font-size: 22px;
    }

    @include media-small {
      font-size: 18px;
    }

    h4 {
      margin: 0 0 2.5% 0;
    }
  }
}

.setting__header {
  font-size: 46px;
  margin: 4.2% 0 4% 0;
}

.setting_button {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.submit_settings {
  background-color: $brown-color;
  color: $white-color;
  outline: none;
  border: 0;
  padding: 11px 46px;
  cursor: pointer;
  transition: all .3s linear;

  &:hover{
    box-shadow: 0px 0px 8px -1px #00202e;
  }
}
