// .wrapper {
//   max-width: 500px;
//   border: 1px solid gray;
// } 
.card {
  width: 905px;
  height: 476px;
  margin: 0 auto;
  margin-top: 32px;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.75);

  &-wrapper {
    padding: 0 62px;
    position: relative;
  }

  &__input {
    background-color: $light-blue-color;
    border: none;
    height: 46px;
    margin-top: 47px;
    margin-left: 40px;
    padding: 0 10px;
    outline: none;
    font-size: 30px;
    font-family: "BalsamiqSans Bold";
    letter-spacing: 3px;
  }

  &__translate {
    font-family: "BalsamiqSans Bold";
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  &__sentence {
    border-top: 2px solid $whitesmoke-card-border;
    font-family: "BalsamiqSans Bold Italic";
    font-size: 30px;
    width: 400px;
    padding-top: 20px;
    white-space: nowrap;
  }

  &__ruSentence {
    font-family: "BalsamiqSans Italic";
    font-size: 25px;
    color: $denim-color;
    padding-top: 7px;
    padding-bottom: 26px;
  }

  &__button {
    background-color: $brown-color;
    color: $white-color;
    padding: 0 24px;
    height: 36px;
    border: none;
    outline: none;
    font-family: "BalsamiqSans Regular";
    font-size: 20px;
    margin-right: 25px;

    &:hover {
      cursor: pointer;
      background-color: $light-brown-color;
      transition: all 0.2s ease-in-out;
    }

    &-show {
      float: right;
      margin-right: 0;
    }
  }

  &__translation-button, &__audio-button {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $white-color;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 30px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.2s ease-in-out;
    }
  }

  &__translation-button {
    background-image: url('./assets/images/languages.svg');
    right: 120px;
  }

  &__audio-button {
    background-image: url('./assets/images/speaker.svg');
    right: 62px;
  }

  &__image {
    position: absolute;
    right: 62px;
    bottom: 133px;
    width: 280px;
  }

  &__transcription {
    float: right;
    width: 280px;
    text-align: center;
    font-family: "BalsamiqSans Regular";
    font-size: 30px;
    margin-top: -25px;
  }
}