.setting_custom_checkbox {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:not(:disabled):not(:checked)+span:hover::after {
      background-color: $light-blue-color;
    }
    &:not(:disabled):active+span::after {
      background-color: $light-blue-color;
    }
    &:checked+span::after {
      background-color: $brown-color;
      background-image: url("./assets/images/check.svg");
    }
    &:disabled+span::after {
      background-color: $white-color;
    }
  }

  span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    &::after {
      content: '';
      display: inline-block;
      cursor: pointer;
      width: 22px;
      height: 22px;
      border: 1px solid $denim-color;
      margin-right: 0.5em;
      margin-left: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80% 80%;
      transition: all .2s linear;

      @include media-small {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.setting_input_text {
  width: 40px;
  height: 36px;
  padding-left: 10px;
  border: 1px solid $denim-color;
  @include media-medium {
    width: 30px;
    height: 25px;
    padding-left: 7px;
  }
  @include media-small {
    width: 24px;
    height: 20px;
    padding-left: 5px;
  }
}


.common_settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  label {
    display: block;
    margin-bottom: 2.6%;
  }
}

.help_settings{
  label {
    margin-left: 6px;

    @include media-small {
      display: block;
      margin-top: 10px;
    }
  }
  .help_settings_labels_wrapper {
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    @include media-medium {
      height: 110px;
    }

    @include media-small {
      display: block;
      height: 173px;
    }
  }
}

.classfication_settings {
  margin-top: 4%;
  padding-bottom: 4%;

  @include media-small {
    padding-bottom: 10%;
    margin-top: 4%;
  }

  label {
    margin-left: 6px;

    @include media-small {
      display: block;
      margin-top: 8px;
    }
  }
}
