.header {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $white-color;
  box-shadow: 0px -3px 11px 0px $dark-blue-color;

  @include media-medium {
    justify-content: center;
  }
}


.header__logo {
  margin: 1rem;

  @include media-medium {
    img {
      width: 130px;
    }
  }
}

.header__main-menu {
  width: 70%;
  text-align: center;
}

.header__profile-menu {
  margin: 1rem;

  @include media-medium {

  }
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;

  @include media-small {
    z-index: 10;
    position: absolute;
    display: block;
    width: 162px;
    background-color: #fff;
    left: 0;
    top: 86px;
    height: auto;
  }
}
