.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check {
  font-size: 1.4rem;
}

.check-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vh;
  font-size: 2.6vh;
  @include media-medium {
    width: 30vh;
  }
  @include media-extra-small {
    width: 30vh;
    margin: 0 10px;
  }
}

.btn {
  padding: 5px 10px;
  border: none;
  background-color: $whitesmoke-color;
  @include media-medium {
    padding: 5px 8px;
  }
}

.btnDuringGame {
  margin: 5px;
}

.btnSpeakerImg {
  height: 45px;
  width: 45px;
}

.btnExit {
  border: none;
  background-color: inherit;
}

.btnExitImg {
  height: 25px;
  width: 25px;
  position: fixed;
}

.btnExitImg:hover {
  height: 30px;
  width: 30px;
  transition: 0.2s;
}

.btnExit:hover {
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 5px 0px #00202e;
  transition: 0.2s;
  cursor: pointer;
}

.blockWithButtons {
  display: grid;
  width: 640px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @include media-small {
    font-size: 2.6rem;
    width: 340px;
    padding: 10px 10px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
  }
  @include media-extra-small {
    width: 300px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}