.game-content {
  display: flex;
  justify-content: center;
  width: 640px;
  height: 480px;
  background: url('./assets/images/wallSavan.jpg');
  box-shadow: 0px 0px 5px 0px #00202e;
  margin: 50px;
}