.teammate {
  width: 103px;
  height: 103px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 2%;
  flex-shrink: 0;
}
