@import "~normalize.css";
@import "./base/constants";
@import "./base/fonts";
@import "./base/mixes";
@import "./components/mainMenuItem/mainMenuItem";
@import "./components/userMenuItem/userMenuItem";
@import "./components/userMenu/userMenu";
@import "./components/header/header";
@import "./components/footer/footer";
@import "./components/progressBar/progressBar";
@import "./components/card/card";
@import './components/blockWithCards/swiper';
@import './components/burgerButton/burgerButton'
