@import "~normalize.css";
@import "./base/fonts";
@import "./base/constants";
@import "./base/mixes";
@import "./components/mainMenuItem/mainMenuItem";
@import "./components/userMenuItem/userMenuItem";
@import "./components/userMenu/userMenu";
@import "./components/header/header";
@import "./components/footer/footer";
@import "./components/progressBar/progressBar";
@import "./components/card/card";
@import './components/blockWithCards/swiper';
@import './components/burgerButton/burgerButton';
@import './components/registration/input';
@import "./components/main/main";
@import "./components/gamesPage/gamesPage";
@import "./components/setting/setting";
@import "./components/settingItem/settingItem";
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';
@import './components/speakItStartPage/speakItStartPage';
