//Colors
$brown-color: #974c18;
$denim-color: #78a8bc;
$light-blue-color: #bfdbde;
$yellowish-brown-color: #ddb067;
$black-color: #131e1d;
$light-grey-color: #999;
$dark-blue-color: #00202e;

// Sizes
$large-screen: 1280px;
$medium-screen: 960px;
$small-screen: 600px;
$extra-small-screen: 320px;
