//Colors
$brown-color: #974c18;
$denim-color: #78a8bc;
$light-blue-color: #bfdbde;
$lighter-blue-color: rgba(191, 219, 222, 0.3);
$yellowish-brown-color: #ddb067;
$black-color: #131e1d;
$light-grey-color: #999;
$dark-blue-color: #00202e;
$white-color: #fff;

// Sizes
$l-screen: 1280px;
$m-screen: 960px;
$sm-screen: 600px;
$xs-screen: 375px;
