//Colors
$brown-color: #974c18;
$denim-color: #78a8bc;
$light-blue-color: #bfdbde;
$lighter-blue-color: rgba(191, 219, 222, 0.3);
$yellowish-brown-color: #ddb067;
$black-color: #131e1d;
$light-grey-color: #999;
$dark-blue-color: #00202e;
$white-color: #fff;
$whitesmoke-color:#f4f8f9;
$whitesmoke-card-border: #f5f2ef;
$light-brown-color: #f5ae7c;

// Sizes
$l-screen: 1280px;
$m-screen: 960px;
$sm-screen: 600px;
$xs-screen: 375px;

//input letters 
$completed-word-color: #00861d;
$calm-mistake-color: #fdc54d;
$dangerous-mistake-color: #c20000;
