@font-face {
  font-family: "BalsamiqSans Bold";
  src: url("./assets/fonts/BalsamiqSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BalsamiqSans Bold Italic";
  src: url("./assets/fonts/BalsamiqSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "BalsamiqSans Italic";
  src: url("./assets/fonts/BalsamiqSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "BalsamiqSans Regular";
  src: url("./assets/fonts/BalsamiqSans-Regular.ttf") format("truetype");
}
