.swiper {
  margin: 50px;
  box-shadow: 0px -1px 10px 0px #000000;
  border-radius: 20px;
}

.swiper > div {
  font-size: 5vw;
  padding: .5em;
  background: gold;
  text-align: center;
}

.swiper-container{
  @include media-medium {
    display: flex;
    flex-direction: column-reverse;
  }
}

.swiper-container >.swiper-button-prev,
.swiper-container >.swiper-button-next{
  @include media-extra-small{
    display: none;
  }
}