.menu-item-active {
    color: black;
    border: none;
    outline: none;
    font-size: 33px;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
}

.menu-item {
    color: black;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
}