.menu-item-active {
    text-decoration: underline;
}

.menu-item {
    color: black;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
}

.menu-item-lock {
    cursor: auto;
    opacity: 0.5;
}